<div class="marTop">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>	Instruction to Follow </mat-card-title>
          <mat-card-subtitle>	Simple Guide </mat-card-subtitle>
          <mat-card-content>	1. Click on Login, Give Uname & Password and Click Login Button.2. Other Buttons to click are About & Sign in </mat-card-content>
          <mat-card-footer>	Copyright 2020 @All rights reserveds</mat-card-footer>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>	Concept Used </mat-card-title>
          <mat-card-subtitle>	Technical </mat-card-subtitle>
          <mat-card-content>1. Angular Material - Tabs, Grid, Card, Dialog Box, Forms 2. Angular - Reactive Form and Routing Concepts</mat-card-content>
          <mat-card-footer>	Copyright 2020 @All rights reserveds</mat-card-footer>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>